/* Testimony */

.testimony{
    background-color: #e5e5f7;

    &__container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        gap: 1em;
        align-items: center;
    }
    
    &__body{
        display: grid;
        grid-template-columns: 1fr max-content;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;

        &--show{
            pointer-events: unset;
            opacity: 1;
            transition: opacity 1.5s ease-in-out;
        }
    }
    
    &__img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 50% 30%;
    }
    
    &__texts{
        max-width: 700px;
    }
    
    &__course{
        background-color: royalblue;
        color: #fff;
        display: inline-block;
        padding: 5px;
    }
    
    &__arrow{
        width: 90%;
        cursor: pointer;
    }
}

@media (max-width:800px){
    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }
}

@media (max-width:600px){
    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }
}

